{% extends 'base.html' %} {% block title %}
<title>About us</title>
{% endblock %} {% block body %}
<div class="container">
  <h1><span class="highlight-dark">iCookieTech</span>: Ваш Онлайн-Магазин Техніки Apple</h1>
  <p>
    Ласкаво просимо до <span class="highlight-dark">iCookieTech</span>, вашого надійного партнера у світі продукції
    Apple! Наш онлайн-магазин пропонує широкий асортимент пристроїв і аксесуарів
    Apple, щоб задовольнити всі ваші потреби в техніці. Від iPhone і iPad до
    MacBook і аксесуарів - ми надаємо високоякісні продукти і зручні умови для
    покупки.
  </p>
  <ul class="list-unstyled">
    <li>Наші ключові переваги:</li>
    <ul>
      <li>
        Автентичні продукти Apple: Ми пишаємося пропонувати тільки оригінальну
        техніку Apple, яка відповідає найвищим стандартам якості. Ви можете бути
        впевнені, що кожен пристрій, куплений у нас, 100% справжній.
      </li>
      <li>
        Широкий асортимент: Ми надаємо широкий вибір продуктів Apple, включно з
        останніми моделями iPhone, iPad, MacBook, Apple Watch і безліччю
        аксесуарів, таких як навушники, чохли, зарядні пристрої та багато
        іншого.
      </li>
      <li>
        Компетентні консультації: Наша команда експертів готова відповісти на
        ваші запитання і допомогти вам вибрати відповідний пристрій відповідно
        до ваших потреб.
      </li>
      <li>
        Зручність покупки: Магазин iCookieTech доступний 24/7, що дає змогу вам
        здійснювати покупки у зручний для вас час. Ми також надаємо зручні
        способи оплати та швидку доставку.
      </li>
      <li>
        Привабливі ціни та акції: Ми регулярно проводимо акції та пропонуємо
        конкурентоспроможні ціни на продукцію Apple, щоб зробити вашу покупку ще
        більш приємною.
      </li>
      <li>
        Гарантія та обслуговування: Ми надаємо гарантію на всі продукти і готові
        допомогти вам з питаннями з обслуговування та ремонту.
      </li>
    </ul>
  </ul>
  <p>
    iCookieTech - ваш надійний партнер для купівлі продукції Apple. Незалежно
    від того, чи потрібен вам новий смартфон, планшет, ноутбук або аксесуари, ми
    готові запропонувати вам найкращі рішення, щоб задовольнити ваші потреби у
    світі техніки Apple.
  </p>
</div>
{% endblock %}
